<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vgrec.espressoexamples" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EnterNameActivity"
            android:label="@string/title_activity_enter_name" />
        <activity
            android:name=".activities.DisplayNameActivity"
            android:label="@string/title_activity_display_name" />
        <activity
            android:name=".activities.SpinnerSelectionActivity"
            android:label="@string/title_activity_spinner_selection" />
        <activity
            android:name=".activities.CustomListActivity"
            android:label="@string/title_activity_custom_list" />
        <activity
            android:name=".activities.BookDetailsActivity"
            android:label="@string/title_activity_book_details" />
        <activity
            android:name=".activities.SearchableActivity"
            android:label="@string/title_activity_searchable" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.SearchViewActivity"
            android:label="@string/title_activity_search_view" />

        <provider
            android:name=".provider.AppRecentSearchesProvider"
            android:authorities="com.vgrec.espressoexamples"
            android:exported="false" />

        <activity
            android:name=".activities.ActionBarExampleActivity"
            android:label="@string/title_activity_action_bar_example" >
        </activity>
        <activity
            android:name=".activities.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" >
        </activity>
    </application>

</manifest>
